<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Now Button</title>
    <style>
        body {
            background-image: url('images/image.png');
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
        }
        .book-button {
            display: inline-block;
            padding: 15px 30px;
            background-color: #e74cac;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 20px;
            text-align: center;
        }
        .book-button:hover {
            background-color: #4cafce;
        }
        .back-arrow {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 24px;
            color: #e74cac;
            text-decoration: none;
        }
        .back-arrow:hover {
            color: #4cafce;
        }
    </style>
</head>
<body>

<a href="https://bookme.pk/movie-tickets-online" class="book-button" target="_blank">Book Now</a>

<a href="/home" class="back-arrow">&#8592; Home</a>

</body>
</html>
